torch>=1.8.2
torchaudio
torchvision
numpy
scipy
pandas
tqdm

audioread
bitsandbytes
laion-clap
soundfile
resampy
torch_audiomentations==0.11.0
librosa
pedalboard
wavencoder

opencv-python
opencv-contrib-python
kornia
pillow
scikit-image
imageio
tifffile

scikit-learn
tensorflow
tf-slim
einops
fire
h5py
ignite
pytorch_ignite
facenet-pytorch

PyYAML
loguru
matplotlib
tensorboard
numba
networkx
joblib
pooch
protobuf
requests
seaborn
typing-extensions
ffmpeg-python
beartype
ninja
setuptools==59.4.0
shapely==1.8.4
timm
submitit